<div class="w3-display-container w3-animate-opacity">
  <img class="" src="/static/img/main.jpeg" alt="Main" style="width:100%;min-height:350px;max-height:576px;">
  <div class="w3-display-bottomleft w3-container w3-amber w3-hover-orange w3-hide-small"
   style="bottom:10%;opacity:0.7;width:80%">
  <h4><b>Gzt, basit bir haber okuma uygulamasıdır.<br>Gereksiz içerik ve reklam olmaksızın haber okumak için hazırlanmış, özgür bir yazılımdır</b></h4>
  <h5>Yazar: Şenol Alan - <span class="w3-tag">palynology@gmail.com</span></h5>
</div>
</div>
